{% set s_no = namespace(value=1) %}
apar,date,product,ptf_id
{% for each in group_info.ptf_list %}
{{each.apar}},{{each.date}},{{each.product}},{{each.ptf.id}}
{% set s_no.value = s_no.value + 1 %}
{% endfor %} 