{% set s_no = namespace(value=1) %}
Backup Time,Bckup ID,Recoverable,Copy Sets,Las Result, Expiration
{% for each in backups_status.row %}
{{each.Taken}},{{each.ID}},{{each.Recoverable}},{{each.Copy_Sets}},{{each.Result}},{{each.Expires}}
{% set s_no.value = s_no.value + 1 %}
{% endfor %} 